<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Список кадровых приказов</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Меню</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addEmployee}">Добавить сотрудника</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/departments}">Подразделения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addDepartment}">Добавить подразделение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}">Кадровые приказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addOrder}">Добавить приказ</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Выйти"/>
        </form>
    </div>
</nav>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Номер приказа</th>
            <th scope="col">Тип приказа</th>
            <th scope="col">Подразделение</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.orderNumber}"></td>
            <td th:text="${order.orderType}"></td>
            <td th:if="${order.departmentId != null}" th:text="${org.getDepartmentById(order.departmentId)}"></td>
        </tr>
        </tbody>
    </table>
    <form action="/addOrder">
        <button class="btn btn-primary btn-lg" type="submit">Добавить приказ</button>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>