<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Удаление сотрудников</title>
</head>
<body>
    <form action="#" th:action="@{/removeWorker}" th:object="${worker}" method="post">
        <label for="id">Введите Id сотрудника</label>
        <input type="text" th:field="*{id}" id="id" placeholder="ID Сотрудника"><br>
        <input type="submit" value="Удалить сотрудника">
    </form>
    <br>
    <p><a href="/">Команды</a></p>
</body>
</html>